.carousel {
    width: 600px;
    height: 100px;
}
  
.carousel-control-prev {
    height: 500px;
}

.carousel-control-next {
    height: 500px;
}

.video-container{
    width: 50%;
    justify-content: center;
}

.item{
    width: auto;
}

.carousel .carousel-control-prev-icon {
    visibility: hidden;
}
.carousel:hover .carousel-control-prev-icon {
    visibility: visible;
}

.carousel .carousel-control-next-icon {
    visibility: hidden;
}
.carousel:hover .carousel-control-next-icon {
    visibility: visible;
}