.register-container{
    background-image: url("../assets/images/global/pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;

    & .form-container{
        border: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 85%;
    }
}